@import '~@wordpress/base-styles/variables';

// Gaps (from poocommerce-admin).
$gap-largest: 40px;
$gap-larger: 36px;
$gap-large: 24px;
$gap: 16px;
$gap-small: 12px;
$gap-smaller: 8px;
$gap-smallest: 4px;

// Modals
$modal-max-width: 500px;

$radius-small: 2px;
$radius-medium: 4px;

$elevation-small: 0 1px 2px rgba( $black, 0.05 ), 0 2px 3px rgba( $black, 0.04 ),
	0 6px 6px rgba( $black, 0.03 ), 0 8px 8px rgba( $black, 0.02 );
$elevation-medium: 0 2px 3px rgba( $black, 0.05 ),
	0 4px 5px rgba( $black, 0.04 ), 0 4px 5px rgba( $black, 0.03 ),
	0 16px 16px rgba( $black, 0.02 );
