.payment-methods--logos {
	> div {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		min-width: 0;
		max-width: 100%;
		overflow: hidden;

		img {
			width: 37px;
			height: 24px;
			margin-right: 4px;
			flex-shrink: 1;
			min-width: 0;
			max-width: 100%;
		}
	}

	&-count {
		width: 38px;
		height: 24px;
		background-color: rgba( $gray-700, 0.1 );
		color: var( --wp--preset--color--contrast, $gray-900 );
		text-align: center;
		line-height: 24px;
		border-radius: 3px;
		font-size: 11px;
		font-weight: 600;
		white-space: nowrap;
		flex-shrink: 1;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.logo-popover {
	background-color: #fff;
	border: 1px solid $gray-300;
	border-radius: 3px;
	padding: 8px;
	box-sizing: border-box;
	box-shadow: 0 0 10px 0 rgba( 0, 0, 0, 0.1 );
	display: grid;
	gap: 8px;
	justify-content: center;
	cursor: pointer;
	width: fit-content;

	> img {
		width: 38px;
		height: 24px;
		box-shadow: 0 0 0 1px rgba( 0, 0, 0, 0.1 );
	}
}

.payment-methods--logos-popover {
	> img {
		object-position: center !important;
	}
}
