@import '../style';

.wcpay-payment-element {
	margin-bottom: 2rem;
}

/* stylelint-disable-next-line selector-id-pattern */
#express-payment-method-woopay {
	width: 100%;
}

.wc-block-components-main
	.wc-block-components-checkout-step--with-step-number
	.wc-block-components-checkout-step__content
	> :last-child {
	padding: 0;
}

.wc-block-checkout__payment-method {
	input:checked ~ div {
		/* stylelint-disable-next-line selector-id-pattern */
		.wc-block-components-radio-control__label:where( [id^='radio-control-wc-payment-method-options-poocommerce_payments'][id$='__label'] ) {
			> .payment-method-label {
				.test-mode.badge {
					// hiding the badge when the payment method is not selected
					display: inline-block;
				}
			}
		}
	}

	/* stylelint-disable-next-line selector-id-pattern */
	.wc-block-components-radio-control__label:where( [id^='radio-control-wc-payment-method-options-poocommerce_payments'][id$='__label'] ) {
		width: 100%;
		display: block !important;

		> .payment-method-label {
			display: grid !important;
			justify-content: normal !important;
			grid-template-columns: max-content auto;
			grid-template-areas: 'label badge logos';
			align-items: center;
			gap: 8px;
			width: 100%;

			> .payment-method-label__label {
				grid-area: label;
				width: 100%;
			}

			> .payment-methods--logos {
				grid-area: logos;
				height: 24px;
				justify-self: end;
			}

			> .test-mode.badge {
				grid-area: badge;
				background-color: #fff2d7;
				border-radius: 4px;
				padding: 4px 6px;
				font-size: 12px;
				font-weight: 400;
				line-height: 16px;
				color: #4d3716;
				justify-self: start;
				width: max-content;
				display: none;
			}
		}
	}
}

#remember-me:empty {
	margin-bottom: 0;
}

#payment-method {
	/* stylelint-disable-next-line selector-id-pattern */
	#radio-control-wc-payment-method-options-poocommerce_payments_affirm__label
		img {
		min-width: 50px;
		height: auto;
	}
	/* stylelint-disable-next-line selector-id-pattern */
	#radio-control-wc-payment-method-options-poocommerce_payments_afterpay_clearpay__label
		img {
		min-width: auto;
		height: auto;
	}
}

@import '../woopay/style';
@import '../../components/loadable/style';
