body {
	/* this can be removed after all the settings sections are converted to the new layout */
	&.poocommerce_page_wc-settings {
		&.poocommerce-payments-checkout-section {
			background: #fff;

			.settings-content,
			#wpbody-content,
			#wpcontent,
			#mainform {
				background: #fff;
			}
		}
	}
}
